#content{
    justify-content: flex-start;
    width: 1240px;
}
.item-container{
    box-sizing: border-box;
    width: 600px;
    height: 230px;
    padding: 10px;
    background-color: white;
    margin: 0px 10px 20px 10px; 
	flex: 0 1 auto;
	
}   

.item-border-line{
    width: 100%;
    height: 100%;
border-style: solid;
border-width: 1px;
-moz-border-image: url(border3.png) 1 round;
-webkit-border-image: url(border3.png) 1 round;
-o-border-image: url(border3.png) 1 round;
border-image: url(border3.png) 1 round;
    display: flex;
	
}
.item-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-photo{
    height: 100%;
    
}
.item-photo img{
    height: 100%;
    object-fit: contain;
}
.item-title{
    font-size: 45px;
}
.item-ingredients{
    margin-bottom: auto;
}
.item-down{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}
.item-price{
    font-size: 30px;
    margin-right: 10px;
}
.item-order-button{
    
    margin-top: auto;
    box-sizing: border-box;
    padding: 2px;
    width: 100px;
    height: 45px;
    background-color: white;
    align-self: flex-end;
    margin: 0 10px 10px 0;
    
    transition: background-color, 0.5s;
}
.item-order-button-border{
    color: black;
    font-size: 30px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-width: 2px;
    border-color: darkorange;
    width: 100%;
    height: 100%;
    transition: background-color, 0.5s;
    transition: color, 0.5s;
}
.item-order-button:hover, .item-order-button-border:hover{
    background-color: darkorange;
    border-color: white;
    color: white;
    transition: color, 0.5s;
    cursor: pointer;
}
@media only screen and (max-width: 1256px){
    #content{
        width: 100%;
    justify-content: center;
}
}
@media only screen and (max-width: 649px){
    .item-photo{
        height: 150px;
    }
    .item-order-button{
        width: 85px;
        height: 40px;
    }
    .item-order-button-border{
        font-size: 25px;
    }
    .item-container{
        height: 170px;
    }
    .item-title{
        font-size: 30px;
    }
}
@media only screen and (max-width: 402px){
    .item-photo{
        height: 100px;
    }
	.item-title{
		font-size: 25px;
		line-height: 23px;
}