body{
    margin: 0;
    /*background-image: url(background2.png);*/
    font-family: 'Open sans condensed', sans-serif;
}
.choosebox{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8)
}
.choosebox-container{
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(50vh - 150px) auto;
    width: 500px;
    height: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}
.choosebox-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.choosebox-title-element{
    width: 22px;
}
.icon-cancel:hover{
    cursor: pointer;
}
.choosebox-title-text{
    font-size: 25px;
}
.choosebox-content{
    width: 100%;
    justify-self: center;
}
.choosebox-content form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.choosebox-content form input[type=text]{
    margin: 0;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
#right-menu{
    display: flex;
    width: 220px;
    justify-content: flex-end;
}
#header{
    width: 100%;
    z-index: 10;
}
#side-bar-onclick{
    display: none;
    height: 66px;
    width: 66px;
    background-color: green;
}
#menu{
    background-color: darkorange;
    height: 66px;
    width: 100%;
}


#content{
    width: calc(100% - 100px);
    margin: 0;
    display: flex;
    flex-direction: column;
}
#side-bar{
    position: sticky;
    top: 0;
    width: 100px;
    height: calc(100vh - 66px);
    background-color: #d8d8d8;
}
.side-bar-option{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color, 0.3s;
}
.side-bar-option:hover{
    background-color: #d00202;
    transition: background-color, 0.3s;
}
#orders-legend{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #000000;
}
.legend-item{
    box-sizing: border-box;
}
.legend-item:nth-child(1){
    width: 17.5%; /*16.5*/
    padding-left: 10px;
}
.legend-item:nth-child(2){
    width: 57%; /*57*/
}
.legend-item:nth-child(3){
    width: 8.5%; /*8.5*/
    text-align: center;
}
.legend-item:nth-child(4){
    width: 8.5%;/*8.5*/
    text-align: center;
}
.legend-item:nth-child(5){
    width: 8.5%;/*8.5*/
    text-align: right;
    padding-right: 10px;
}
.order{
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #b5b5b5;
}
.order-item{
    box-sizing: border-box;
}
.order-item:nth-child(1){
    width: 17.5%; /*16.5*/
    padding-left: 10px;
}
.order-item:nth-child(2){
    width: 57%; /*57*/
}
.order-item:nth-child(3){
    width: 8.5%; /*8.5*/
    text-align: center;
}
.order-item:nth-child(4){
    width: 8.5%;/*8.5*/
    display: flex;
    justify-content: center;
}
.order-item:nth-child(5){
    width: 8.5%;/*8.5*/
    text-align: right;
    padding-right: 10px;
}
.status-button{
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d0d0d0;
    transition: border-color, 0.3s;
}
.status-button:hover{
    cursor: pointer;
    border-color: black;
    transition: border-color, 0.3s;
}
#footer{
    width: 100%;
    background-color: #272727;
    text-align: center;
    padding: 25px 0px;
    color: white;
}



@media only screen and (max-width: 1240px){

}

@media only screen and (max-width: 899px){
    .order-item:nth-child(1){
        width: 140px;
    }
    .order-item:nth-child(2){
        width: calc(100% - 140px - 68px - 68px - 68px);
    }
    .order-item:nth-child(3){
        width: 68px;
    }
    .order-item:nth-child(4){
        width: 68px;
    }
    .order-item:nth-child(5){
        width: 68px;
    }
    .legend-item:nth-child(1){
        width: 140px;
    }
    .legend-item:nth-child(2){
        width: calc(100% - 140px - 68px - 68px - 68px);
    }
    .legend-item:nth-child(3){
        width: 68px;
    }
    .legend-item:nth-child(4){
        width: 68px;
    }
    .legend-item:nth-child(5){
        width: 68px;
    }

}
@media only screen and (max-width: 829px){

}
@media only screen and (max-width: 649px){
    #header{
        position: fixed;
    }
    #side-bar-onclick{
        display: block;
    }
    #side-bar{
        display: none;
        height: 100vh;
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
    }
    #content{
        width: 100%;
        overflow: hidden;
    }
}
